.container {
  max-width: 800px;
  margin: auto;
  font-family: Arial;
}

h1 {
  text-align: center;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form button {
  padding: 8px 16px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.form button:hover {
  background: #1e40af;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.table tr:hover {
  background: #f3f4f6;
}

.edit {
  background: orange;
  border: none;
  padding: 6px 10px;
  margin-right: 5px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.delete {
  background: red;
  border: none;
  padding: 6px 10px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
